{% extends "tutorhub/layout.html" %}
{% load static %}
{% block body %}

<div class="container mt-5 p-3">
    <h1 id="page-title" class="mb-0">{{ page_title }}</h1>
    <div id="search-container" class="mb-4 d-flex justify-content-end align-items-center">

        <!-- Search Form -->
        <form id="search-form" action="{% if user.is_authenticated %}{% url 'index' %}{% else %}{% url 'login' %}{% endif %}" method="get" class="d-flex align-items-center">
            <input type="hidden" name="view" value="search">
            <input type="text" name="q" id="search-input" class="form-control me-2" placeholder="Search by city, state, grade, name" value="{{ request.GET.q|default:'' }}">
            <button type="submit" class="btn btn-primary me-2" {% if not user.is_authenticated %} data-alert="true" {% endif %}>Search</button>            
            <a href="{% url 'index' %}" class="btn btn-secondary">Clear</a>
            <!-- TODO ADD SEARCH FILTERS: by name, city, state, subject, level, bio content -->
        </form>
    </div>
    <table class="table table-striped">
        <tbody>
            {% for tutor in page_obj %}
            <!-- Tutor Row -->
            <tr class="clickable-row" data-href="{% if user.is_authenticated %}{% url 'profile' tutor.id %}{% else %}{% url 'login' %}{% endif %}"">
                <td>
                    <div class="tutor-row">
                        <!-- Profile Picture and Nickname -->
                        <div class="profile-info">
                            {% if tutor.profile_image %}
                                <img id="profile-img-thumb" src="{{ tutor.profile_image.url }}" alt="{{ tutor.get_display_name  }}">
                            {% else %}
                                <img id="profile-img-thumb" src="{% static 'tutorhub/images/mentor-logo-bull.svg' %}" alt="Default Logo">
                            {% endif %}
                            <a href="{% url 'profile' tutor.id %}" class="profile-name">{{ tutor.get_display_name  }}</a>
                        </div>
                    </div>
                </td>

                <!-- Address (for Logged-In users) -->
                {% if user.is_authenticated %}
                <td>
                    <div class="address-container">
                        <div>{{ tutor.address.street_address|default:"N/A" }}</div>
                        <div>{{ tutor.address.city|default:"N/A" }}, {{ tutor.address.state_region|default:"N/A" }} {{ tutor.address.postal_code|default:"" }}</div>
                        
                    </div>
                </td>
                {% endif %}

                <!-- Subjects and Levels -->
                <td>
                    <div class="subject-grade-container">
                        {% for subject_level in tutor.tutor_subject_levels.all %}
                            <div id="subject-grade">
                                <strong>{{ subject_level.subject }}</strong>
                                <div>
                                    {% for level in subject_level.levels %}
                                        <span class="badge bg-secondary">{{ level }}</span>
                                    {% endfor %}
                                </div>                            </div>
                        {% empty %}
                            <div>No subjects available.</div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">
                    {% if view_type == "following" %}
                        You are not following any tutors.
                    {% elif view_type == "search" %}
                        No tutors found.
                    {% else %}
                        No tutors available.
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"><< previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next >></a>
            {% endif %}
        </span>
    </div>
    <script>
        const isAuthenticated = JSON.parse(document.getElementById('auth-status').textContent);
    </script>
</div>

{% endblock %}
