{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mentor Finder{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="{% static 'tutorhub/images/mentor-logo-bull.svg' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'tutorhub/styles.css' %}">
    </head>
    <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <a class="navbar-brand"  href="{% url 'index' %}">
            <!-- navbar branding -->
            <div>
                <img class="navbar-logo" src="{% static '/tutorhub/images/mentor-logo-text.svg' %}" alt="Mentor Logo" class="logo">
                <img class="navbar-logo" src="{% static '/tutorhub/images/mentor-logo-bull.svg' %}" alt="Mentor Logo" class="logo">
            </div>
        </a>
        <div class="ml-auto">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" id="menu-username" href="#"><strong>{{ user.username }} ⚙️</strong></a></li>
                    <li class="nav-item"><a class="nav-link" id="menu-messages" href="#">Messages
                        <span id="unread-badge" class="badge badge-danger" style="display: none;">0</span>
                        <a></li>
                {% endif %}
                    <li class="nav-item"><a class="nav-link" id="menu-all-tutors" href="#">All Tutors</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" id="menu-following" href="#">Following</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="main-content">
        {% block body %}
        {% endblock %}
    </div>
    </body>
    <footer class="bg-dark text-white mt-auto py-3">
        <div class="container" id="footer-title">
            <div class="row">
                <!-- col 1 -->
                <div class="col-md-4 text-center">
                    <ul class="list-unstyled" id="footer-link">
                        <li><a href="{% url 'index' %}" class="text-white">Home</a></li>
                        <li><a href="{% url 'index' %}" class="text-white">Home</a></li>
                        <li><a href="{% url 'index' %}" class="text-white">Home</a></li>
                    </ul>
                </div>
                <!-- col 2 -->
                <div class="col-md-4 text-center">
                    <span class="mb-0" id="footer-link">© {% now "Y" %} Mentor Finder. All rights reserved.</u>
                    <p id="footer-link">Connecting minds and masters, worldwide.</p>
                </div>
                <!-- col 3 -->
                <div class="col-md-4 text-center">
                    <p id="footer-link">Email: support@mentorfinder.com</p>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="{% static 'tutorhub/scripts.js' %}"></script>
</html>
<!-- <script>
    const loggedInUsername = "{{ request.user.username }}";
</script> -->
