<!-- {% extends "tutorhub/layout.html" %}
{% block body %}
<div class="container mt-5">
    <h2>Unread Messages</h2>
    <ul class="list-group">
        {% for message in unread_messages %}
            <li class="list-group-item">
                <a href="{% url 'profile' message.sender.id %}?scroll_to={{ message.id }}">
                    Message from 
                    {% if message.sender.nickname %}
                        {{ message.sender.nickname }}
                    {% else %}
                        {{ message.sender.email }}
                    {% endif %}:
                    "{{ message.content|slice:":50" }}..."
                </a>
            </li>
        {% empty %}
            <li class="list-group-item">No unread messages.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %} -->
