{% extends "tutorhub/layout.html" %}
{% load static %}
{% block body %}

{% include 'tutorhub/modals/edit_profile_modal.html' %}

<div class="container mt-5">
    <div class="row">
        <!-- User info section -->
        <div class="col-md-8">
            
            <!-- Profile header -->
            <div class="left-column-container">
                <h2 style="display: inline-block; margin: 0;">{{ possessive_name }} Profile</h2>
                {% if is_own_profile %}
                    <button class="btn btn-sm btn-link" data-bs-toggle="modal" data-bs-target="#editProfileModal" style="display: inline-block;">
                        Edit Profile
                    </button>
                {% endif %}
            
                {% if is_own_profile and missing_details %}
                <div class="alert alert-info text-center">
                    Some profile details are missing. Completing all sections increases your profile's visibility in search results.
                    <ul class="text-danger">
                        {% if not profile.nickname %}
                            <li>Nickname</li>
                        {% endif %}
                        {% if not profile.bio %}
                            <li>Bio</li>
                        {% endif %}
                        {% if not profile.credentials.exists %}
                            <li>Credentials</li>
                        {% endif %}
                        {% if not profile.profile_image %}
                            <li>Profile Image</li>
                        {% endif %}
                        {% if not profile.address or not profile.address.street_address or not profile.address.city or not profile.address.state_region or not profile.address.postal_code or not profile.address.country %}
                            <li>Complete Address (Street Address, City, State, Postal Code, and Country)</li>
                        {% endif %}
                        {% if not profile.availability %}
                            <li>Availability</li>
                        {% endif %}
                        {% if not profile.subject_levels.exists %}
                            <li>Subjects and Levels</li>
                        {% endif %}
                    </ul>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var modal = new bootstrap.Modal(document.getElementById('editProfileModal'), {});
                        modal.show();
                    });
                </script>
                {% endif %}
                <div class="profile-header">
                    <!-- Profile picture -->
                    <div id="stack-vertical">
                        {% if profile.profile_image %}
                            <img id="profile-img" src="{{ profile.profile_image.url }}" alt="{{ profile.nickname }}">
                        {% else %}
                            <img id="profile-img" src="{% static 'tutorhub/images/mentor-logo-bull.svg' %}" alt="Default Logo">
                        {% endif %}

                        <!-- Follow button -->
                        {% if user.is_authenticated and profile.id != user.id %}
                            <button class="btn btn-primary follow-btn" data-tutor-id="{{ profile.id }}">
                                {% if profile in user.followed_tutors.all %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {% endif %}
                            </button>
                        {% endif %}
                    </div>
                    
                    <!-- Name & Address -->
                    <div id="stack-vertical">
                        <strong>{{ profile.first_name }} {{ profile.last_name }}</strong>
                        {% if profile.address %}
                            <div>{{ profile.address.street_address }}</div>
                            <div>{{ profile.address.city }}, {{ profile.address.state_region }} {{ profile.address.postal_code }}</div>
                            <div>{{ profile.address.country.name }}</div>
                        {% else %}
                            <div>Address not available</div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <!-- Bio section -->
            <div class="left-column-container">
                <h4>Bio</h4>
                <p>{{ profile.bio|linebreaks|default:"Tell students about yourself. Share what you like about teaching along with some interesting facts about yourself to spark their interest!" }}</p>
            </div>

            <!-- Auto scrolling target for new messages -->
            <div id="scroll-target" data-scroll-to="{{ scroll_to }}"></div>

            <!-- Messages section -->
            {% if user.is_authenticated %}
            <div class="messages-container">
                <!-- set title -->
                {% if is_own_profile %}
                    <h4>Personal notes</h4>
                {% else %}
                    <h4>Conversation</h4>
                {% endif %}
                <div class="conversation-box">
                    {% for message in messages %}
                        <div id="message-{{ message.id }}" class="message {% if message.sender == request.user %}sent{% else %}received{% endif %}">
                            <span class="timestamp">{{ message.timestamp|date:"M d, Y H:i" }}</span>
                            <p>{{ message.content }}</p>
                            {% if message.edited %}
                                <span class="edited">(edited)</span>
                            {% endif %}
                        </div>
                    <!-- set message if empty -->
                    {% empty %}
                        {% if is_own_profile %}
                            {% if messages|length == 0%}
                                <p>This is your personal space. Go ahead - leave yourself a note below.</p>
                            {% else %}
                                <p>Personal space</p>
                            {% endif %}
                        {% else %}
                            <p>There is no conversation yet between yourself and this user. Start a conversation below.</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <form action="{% url 'profile' user_id=request.user.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea name="content" rows="3" class="form-control mb-2" required></textarea>
                    <div class="submit-button-container d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>                </form>
            </div>
            {% endif %}
        </div>

        <!-- Right Column (Availability and Subjects) -->
        <div class="col-md-4">

            <!-- Availability -->
            <div class="right-column-section">
                <h4>Availability</h4>
                <ul>
                    {% for slot in sorted_availability %}
                        <li>
                            <strong>{{ slot.day|title }}:</strong> {{ slot.start }} - {{ slot.end }}
                        </li>
                    {% empty %}
                        <p>Add your availability so that potential students can know when you're open for business.</p>
                    {% endfor %}
                </ul>
            </div>

            <!-- Subjects -->
            {% if profile.is_tutor %}
            <div class="right-column-section">
                <h4>Subjects</h4>
                <ul>
                    {% for subject_level in subject_levels %}
                        <li><strong>{{ subject_level.subject }}</strong>: {{ subject_level.levels|join:", " }}</li>
                    {% empty %}
                        <p>Add subjects and levels to appear in search results.</p>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <!-- Credentials Section -->
            {% if profile.is_tutor %}
            <div class="credentials-container">
                <h4>Credentials</h4>
                <div style="display: flex; flex-wrap: wrap; gap: 10px;">
                    {% for credential in credentials %}
                        <a href="{{ credential.file.url }}" target="_blank">
                            <div class="credential-item-container">
                                {% if credential.is_image %}
                                    <img src="{{ credential.file.url }}" alt="Credential Image">
                                {% else %}
                                    <img src="{% static 'tutorhub/images/credential-icon.png' %}" alt="Default Credential Icon">
                                {% endif %}
                            </div>
                        </a>
                    {% empty %}
                        <p>Add credentials, such as certificates, diplomas or a resume.</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}