{% extends "tutorhub/layout.html" %}
{% block body %}
{% load static %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div id="auth-form" class="col-md-6 col-lg-4">
            <div id="auth-logo-container">
                <img id="auth-logo" src="{% static '/tutorhub/images/mentor-logo-bull.svg' %}" alt="Mentor Logo">
                <div id="auth-form-title">Create an account</div>
                <p id="auth-form-blurb" class="text-center">Brilliant teachers just around the corner</p>
            </div>

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}

            <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div id="auth-label" class="form-group">
                    <label for="email" id="auth-label">Email Address:</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Email Address" maxlength="100" required>
                </div>
                
                <div class="form-group">
                    <label id="auth-label" for="password">Password:</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password" maxlength="100" required>
                </div>

                <p class="form-group">
                    <label id="auth-label" for="confirmation">Confirm Password:</label>
                    <input class="form-control" type="password" name="confirmation" id="confirmation" placeholder="Confirm Password" maxlength="100" required>
                </p>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label id="auth-label" for="first_name">First Name:</label>
                            <input class="form-control" type="text" name="first_name" id="first_name" placeholder="First Name" maxlength="50" required>
                        </div>
                        <div class="col-md-6">
                            <label id="auth-label" for="last_name">Last Name:</label>
                            <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Last Name" maxlength="50" required>
                        </div>
                    </div>
                </div>
                <p class="form-group">
                    <label id="auth-label" for="nickname">Nickname:</label>
                    <input class="form-control" type="text" name="nickname" id="nickname" placeholder="Nickname" maxlength="50">
                </p>
                <h4 id="auth-label">Address</h4>
                <div class="form-group">
                    <label id="auth-label" for="street_address">Street Address:</label>
                    <input class="form-control" type="text" name="street_address" id="street_address" placeholder="Street Address" maxlength="100" required>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label id="auth-label" for="city">City:</label>
                            <input class="form-control" type="text" name="city" id="city" placeholder="City" maxlength="50" required>
                        </div>
                        <div class="col-md-3">
                            <label id="auth-label" for="state">State:</label>
                            <input class="form-control" type="text" name="state" id="state" placeholder="State" maxlength="50" required>
                        </div>
                        <p class="col-md-3">
                            <label id="auth-label" for="zip_code">Zip Code:</label>
                            <input class="form-control" type="number" name="zip_code" id="zip_code" placeholder="Zip Code" maxlength="10" required>
                        </p>
                    </div>
                </div>

                <p class="form-group">
                    <label id="auth-label" for="bio">Bio:</label>
                    <textarea class="form-control" name="bio" id="bio" placeholder="Tell us about yourself" rows="4" maxlength="500"></textarea>
                </p>

                <p class="form-group">
                    <label id="auth-label" for="profile_image">Profile Image:</label>
                    <input class="form-control" type="file" name="profile_image" id="profile_image" accept="image/*">
                </p>

                <p class="form-group" id="auth-form-section">
                    <label>User Type:</label><br>
                    <input type="radio" name="user_type" value="student" checked> Student
                    <input type="radio" name="user_type" value="tutor"> Tutor
                </p>


                <div id="tutor-fields" style="display: none;">
                    <div id="subject-grade-section">
                        <h4 id="auth-label">Subjects and Grade Levels</h4>
                        <div id="auth-label" class="form-group">
                            <div id="subject-rows-container">
                                <div class="subject-row row mb-3">
                                    <div class="col-md-4">
                                        <input type="text" name="subjects[]" class="form-control" placeholder="Subject" maxlength="50">
                                    </div>

                                    <div class="col-md-8">
                                        <span class="d-flex justify-content-center">
                                            <label id="auth-checkbox-label"><input type="checkbox" name="grade_levels_0[]" value="PK / KG"> Pre-K / KG</label>
                                            <label id="auth-checkbox-label"><input type="checkbox" name="grade_levels_0[]" value="1 - 5"> 1 - 5</label>
                                            <label id="auth-checkbox-label"><input type="checkbox" name="grade_levels_0[]" value="6 - 8"> 6 - 8</label>
                                            <label id="auth-checkbox-label"><input type="checkbox" name="grade_levels_0[]" value="9 - 12"> 9 - 12</label>
                                            <label id="auth-checkbox-label"><input type="checkbox" name="grade_levels_0[]" value="Adults"> Adults</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="button" id="btn-add-subject" class="btn btn-secondary btn-sm mt-2">Add Subject</button>
                            </div>
                        </div>
                    </div>
                    
                    <p id="credentials-section">
                        <h4 id="auth-label">Upload Credentials</h4>
                        <div id="credential-rows-container">
                            <div class="credential-row row mb-3">
                                <div class="col-md-12">
                                    <input type="file" name="credentials[]" class="form-control" accept=".pdf,.doc,.docx,.jpg,.png">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" id="btn-add-credential" class="btn btn-secondary btn-sm mt-2">Add Credential</button>
                        </div>
                    </p>
                </div>
                <!-- <input class="btn btn-primary mt-3" type="submit" value="Register"> -->
                <input class="btn btn-primary mt-3 d-block mx-auto" type="submit" value="Register">
            </form>

            <div id="auth-form-section">Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>

        </div>
    </div>
</div>

{% endblock %}
