{% extends "tutorhub/layout.html" %}
{% block body %}
{% load static %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div id="auth-form" class="col-md-6 col-lg-4">
            <div id="auth-logo-container">
                <img id="auth-logo" src="{% static '/tutorhub/images/mentor-logo-bull.svg' %}" alt="Mentor Logo">
                <div id="auth-form-title">Create an account</div>
                <p id="auth-form-blurb" class="text-center">Brilliant teachers, just around the corner</p>
            </div>

            {% if message %}
            <div>{{ message }}</div>
            {% endif %}

            <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- EMAIL -->
                <div class="form-group">
                    <label for="email" id="auth-label">Email Address:</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Email Address" maxlength="100" required>
                </div>

                <!-- NAME -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label id="auth-label" for="first_name">First Name:</label>
                            <input class="form-control" type="text" name="first_name" id="first_name" placeholder="First Name" maxlength="50" required>
                        </div>
                        <div class="col-md-6">
                            <label id="auth-label" for="last_name">Last Name:</label>
                            <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Last Name" maxlength="50" required>
                        </div>
                    </div>
                </div>

                <!-- PASSWORD -->
                <div class="form-group">
                    <label id="auth-label" for="password">Password:</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password" maxlength="100" required>
                </div>

                <!-- CONFIRM -->
                <div class="form-group">
                    <label id="auth-label" for="confirmation">Confirm Password:</label>
                    <input class="form-control" type="password" name="confirmation" id="confirmation" placeholder="Confirm Password" maxlength="100" required>
                </div>

                <!-- USER TYPE -->
                <div class="form-group d-flex justify-content-center" id="auth-form-section">
                    <label class="me-3 mb-0">I am a: </label>
                    <div class="d-flex">
                        <div class="form-check form-check-inline me-3">
                            <input class="form-check-input" type="radio" name="user_type" id="student" value="student">
                            <label class="form-check-label" for="student">Student</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="user_type" id="tutor" value="tutor">
                            <label class="form-check-label" for="tutor">Tutor</label>
                        </div>
                    </div>
                </div>

                <input class="btn btn-primary mt-3 d-block mx-auto" type="submit" value="Register">
                <div class="text-center" id="auth-label">Already have an account? <a href="{% url 'login' %}">Sign in</a></div>
            </form>
        </div>
    </div>
</div>

{% endblock %}