<div class="modal fade" id="edit_credentials_modal" tabindex="-1" aria-labelledby="edit_credentials_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit_credentials_modal_label">Edit Credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editCredentialsForm" action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="credential-rows-container">
                        <!-- Existing credentials will be appended here -->
                        {% for credential in credentials %}
                        <div class="credential-row row mb-3" data-id="{{ credential.id }}">
                            <div class="col-md-10">
                                <a href="{{ credential.file.url }}" target="_blank">{{ credential.file.name }}</a>
                            </div>
                            <div class="col-md-2 text-end">
                                <button type="button" class="btn btn-danger btn-sm remove-credential" data-id="{{ credential.id }}">X</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" id="btn-add-credential" class="btn btn-secondary mb-3">Add Credential</button>
                    <button type="submit" class="btn btn-primary mb-3">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
