<!DOCTYPE html>
<html lang="en">

<div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="languageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="languageModalLabel">Select Language</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action language-select" data-language="en">English</button>
                    <button type="button" class="list-group-item list-group-item-action language-select" data-language="es">Español</button>
                    <button type="button" class="list-group-item list-group-item-action language-select" data-language="fr">Français</button>
                </div>
            </div>
        </div>
    </div>
</div>