body {
    background-color: rgb(231, 242, 251);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#main-content {
    background-color: white;
    /* background-color: rgb(93, 88, 97); */
    margin: 0 30px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px 50px 20px;
}

/* navbar */
.navbar {
    background-color: #522A5E;
    padding: 10 30px 10px 30px;
}

/* logo */
.navbar-brand {
    font-size: xx-large
}

.navbar-logo {
    height: 40px;
    width: auto;
    max-height: 50px;
}

/* Auth form styling */
#auth-form {
    border-radius: 15px;
    border-color: aliceblue;
    border-style: solid;
    width: 100%;
    max-width: 450px;
    padding: 50px 40px;
    background-color: #222937;
}

#auth-form-title {
    font-weight: 600;
    color: white;
    font-size: xx-large;
    margin: 0;
}

#auth-form-blurb {
    color: #979797;
    font-size:  medium;
}

#auth-checkbox-label {
    margin: 0 12px;
}

#auth-logo-container {
    width: 1fr;
    text-align: center;
}

#auth-logo {
    width: 60px;
    height: auto;
    margin: 5px 0 10px 0;
}

#auth-label {
    color: #979797;
    font-size:  medium;
    margin-top: 15px;
}

#auth-form-section, #auth-checkbox-label {
    color: white;
}

#auth-form-section {
    margin: 25px 0;
    text-align: center;
    border-color: #979797;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px 0;
}

.form-control {
    width: 100%;
    max-width: none;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-md-6, .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

/* create space between fields in the same row */
.row > div:not(:last-child) {
    padding-right: 10px;
}

#btn-login {
    width: fit-content;
}

/* Tutor Row: Profile, Address, and Other Details */
.tutor-row {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Profile Information */
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Profile Image */
#profile-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}

/* Profile Image (Thumbnail) */
#profile-img-thumb {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px;
}

/* Profile Name (Nickname) */
.profile-name {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* Address Display */
.address-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

/* Flex Container for Subject-Grade List */
.subject-grade-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; 
}

/* Subject and Grade Container */
#subject-grade {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    min-width: 120px; 
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

.btn-secondary {
    margin: 0px 5px;
    border-radius: 5px;
    background-color: rgb(166, 166, 166);
}

textarea {
    min-height: 400px;
}

#search-input {
    width: 255px;
    display: flex;
    max-width: 500px;
    margin: 0 10px;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #f0f0f0;
}

/* Credentials Section */
.credentials-container, .edit-profile-modal-section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.edit-profile-modal-section {
    margin: 20px 0;
    background-color: #ffffff;
}

.credential-box {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credential-box img {
    max-width: 75px;
    max-height: 75px;
    object-fit: fill;
}

/* Bio Section */
.left-column-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#stack-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
}

/* Profile Header */
.profile-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Messaging */
.messages-container {
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px;
    border-color: #c1c0c0;
    border-width: 1px;
    border-style: solid;
}

.conversation-box {
    /* border: 1px solid #ccc; */
    padding: 5px;
    max-height: 400px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.submit-button-container {
    margin-top: 15px;
}

.message.sent {
    background-color: #e0ffe0;
    text-align: right;
}

.message.received {
    background-color: #e0e0ff;
    text-align: left;
}

.timestamp {
    font-size: 0.8em;
    color: #666;
}

.edited {
    font-style: italic;
    font-size: 0.8em;
    color: #dacedd;
}

#menu-messages nav-item {
    text-decoration: none;
    transition: color 0.4s ease;
}

/* Animation for unread messages */
@keyframes unread-flash {
    0% {
        color: #ffffff;
    }
    50% {
        color: #9e9d9d;
    }
    100% {
        color: #ffffff;
    }
}

#menu-messages.unread {
    animation: unread-flash 2s infinite;
}

/* Right Column: (Availability and Subjects) */
.right-column-section {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.right-column-section ul {
    padding: 0;
    list-style: none;
}

/* footer */

.footer {
    background-color: #222326;
    margin-top: auto;
}

.footer-title {
    font-size: medium;
}

.footer-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links li:first-child {
    font-weight: bold;
}